<div id="slider" class="carousel slide" data-ride="carousel" data-interval="false">

  <ul class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("slider_1.png", alt: "Slider 1", class: "w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider_1.png", alt: "Slider 2", class: "w-100") %>
    </div>
  </div>
</div>