<div class="container d-flex align-items-center gap-5 img_text_wrapper">
  <div class="image_container flex-1">
    <div class="left_img">
      <%= image_tag("children.png", alt: "Children") %>
    </div>
  </div>
  <div class="text_container flex-1">
    <h2>Leveraging Resources Sets Whitmore Lake Public Schools Apart</h2>
    <p>It is our goal to offer a personalized educational experience to each Whitmore Lake student. We understand each individual student has different interests and learning styles, so we work to develop an education that works for your student’s needs and desires. We offer a wide variety of non-core curriculum classes and leverage our resources to deliver a unique and valuable education for each student.</p>
  </div>
</div>