<div class="container">
  <h2 class="text-center mb-0">It's a Great Day to Be a Trojan!</h2>
  <div class="mt-4 d-flex gap-3 align-items-center justify-content-between">
    <div class="">
      <div class="shadow_img">
        <%= image_tag("school1.png", alt: "Children") %>
      </div>
    </div>

    <div class="">
      <div class="shadow_img">
        <%= image_tag("school2.png", alt: "Children") %>
      </div>
    </div>

    <div class="">
      <div class="shadow_img">
        <%= image_tag("school3.png", alt: "Children") %>
      </div>
      <div class="shadow_img mt-4">
        <%= image_tag("school4.png", alt: "Children") %>
      </div>
    </div>
  </div>
</div>