<div class="videos_wrapper">
  <div class="container d-flex gap-5">
    <div class="video-container flex-1 mt-lg-m">
      <iframe
        src="https://www.youtube.com/embed/ICtFrlXI-gY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="width: 100%; height: 350px;">
      </iframe>
    </div>

    <div class="video-container flex-1 mt-lg-m">
      <iframe
        src="https://www.youtube.com/embed/ICtFrlXI-gY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="width: 100%; height: 350px;">
      </iframe>
    </div>
  </div>
</div>
<div class="container mt-5">
  <h2 class="text-center">We are Whitmore Lake Public Schools – Infant – 12th Grade</h2>
  <div class="mt-4 d-flex gap-5">
    <p class="flex-1">Welcome to Whitmore Lake Public Schools, home of Whitmore Lake High School - named a U.S. News and World Report Best High School for four consecutive years! Here you will find everything you need to know about what we offer not only to your student, but to your family, and what makes us the exceptional choice in personalized education in Michigan.</p>
    <p class="flex-1">At WLPS, we offer a friendly and unique environment with an inclusive, community atmosphere both in and out of the classroom. We want your student to feel at home when s/he comes to school at our early childhood center, elementary school, middle, or high school. With a smaller student population, our staff gets to know your student by name and work personally with them to ensure their educational success.</p>
  </div>
</div>
