<div class="container d-flex align-items-center gap-5 video_text_wrapper py-5 border-b-2">
  <div class="video-container flex-1">
    <iframe
      src="https://www.youtube.com/embed/8lzt7KFX1nU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      style="width: 100%; height: 350px;">
    </iframe>
  </div>
  <div class="text_container flex-1">
    <h2>Download the WLPS App</h2>
    <p>Keeping in touch with everything school related is easy and seamless with the WLPS app, available on the App Store and Google Play. Viewing district news, event dates, and the district directory are just some of the features you can use to stay on track of your student's success, be "in the know", and plan ahead. We encourage both student and parent involvement with WLPS and this app helps achieve just that. Some of the other features accessible through the Whitmore Lake Public Schools app are:</p>
    <ul class="d-flex flex-wrap">
      <li class="w-50">Grade Alerts</li>
      <li class="w-50">Attendance Records</li>
      <li class="w-50">Assignment Updates</li>
      <li class="w-50">Sports Updates</li>
      <li class="w-50">Low Score Warnings</li>
      <li class="w-50">School Newsletters</li>
      <li class="w-50">& so much more!</li>
    </ul>
  </div>
</div>