<div class="videos_wrapper mt-lg-m">
  <div class="container d-flex gap-5">
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/ICtFrlXI-gY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="width: 100%; height: 350px;">
      </iframe>
    </div>

    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/ICtFrlXI-gY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="width: 100%; height: 350px;">
      </iframe>
    </div>
  </div>
</div>
