<div class="text-center mt-10">
  <h1 class="text-4xl font-bold mb-4">Welcome to Event Manager</h1>
  <div class="space-x-4">
    <%= link_to "Events", events_path, class: "text-blue-500 underline" %>
    <%= link_to "Staffs", staffs_path, class: "text-blue-500 underline" %>
  </div>
</div>
