<div class="home">
  <div class="hero-section d-flex">
    <%= render "hero" %>
    <%= render "events" %>
  </div>
  <div class="icons-section primary-bg p-3">
    <%= render "icons" %>
  </div>
  <div class="three-tabs">
    <%= render "tabs" %>
  </div>
</div>