<h1 class="text-3xl font-bold my-4">Events</h1>
<ul class="space-y-4">
  <% @events.each do |event| %>
    <li class="border p-4 rounded">
      <h2 class="text-xl font-semibold"><%= link_to event.name, event_path(event), class: "text-blue-600 underline" %></h2>
      <p><%= truncate(event.description, length: 100) %></p>
    </li>
  <% end %>
</ul>
