<% content_for :title, "Board Committees - Whitmore Lake Public Schools | Members & Appointments" %>
<% content_for :description, "Explore Whitmore Lake Public Schools Board of Education Committees. View the 2024 list of committees, members, and their appointments." %>

<div class="board_committees">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Board of Education</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "board_of_education_links_bar" %>
    </div>
    <div class="board_committees_intro py-4_5">
        <div class="container">
            <h1><span>Board of Education Committees</span><span class="text-black"> of Whitmore Lake Public Schools</span></h1>
            <p>
                Below you'll find and can view the updated list of the Whitmore Lake Public Schools Board of
                Education committees complete with member names and appointments.
            </p>
            <h2 class="text-black">Committee Appointments: 2024</h2>
            <h2 class="text-black">Finance</h2>
            <ul>
                <li><b><i>Meeting time and location to be determined by Chair</i></b></li>
                <li>Shelli Kritzman</li>
                <li>John Meadows</li>
                <li>Frank Zolenski</li>
            </ul>
            <h2 class="text-black">Executive Committee</h2>
            <ul>
                <li><b><i>Meeting time and location to be determined by Chair</i></b></li>
                <li>Lee Cole</li>
                <li>John Meadows</li>
                <li>Laura Schwennesen</li>
            </ul>
            <h2 class="text-black">Policy Committee</h2>
            <ul>
                <li><b><i>Meeting time and location to be determined by Chair</i></b></li>
                <li>Bob Henry</li>
                <li>Lisa McCully</li>
                <li>Shelli Kritzman</li>
            </ul>
            <h2 class="text-black">Community Engagement & Communication Committee</h2>
            <ul>
                <li><b><i>Done as a whole during meetings</i></b></li>
            </ul>
            <h2 class="text-black">Building, Site, and Recreation Committee</h2>
            <ul>
                <li><b><i>Done as a whole during meetings</i></b></li>
            </ul>
            <h2 class="text-black">Negotiations Advisory Committee</h2>
            <ul>
                <li><b><i>Done as a whole during meetings</i></b></li>
            </ul>
            <h2 class="text-black">Academic Performance Committee</h2>
            <ul>
                <li><b><i>Done as a whole during meetings</i></b></li>
            </ul>
            <h2 class="text-black">Board Representatives on each of the following:</h2>
            <ul>
                <li>Elementary Building School Improvement Team: John Meadows</li>
                <li>Secondary Building School Improvement Team / NCA: Frank Zolenski</li>
                <li>Community Scholarship Committee Rep: Shelli Kritzman</li>
                <li>WLFEE: Shelli Kritzman</li>
                <li>WASB/MASB: Shelli Kritzman</li>
                <li>LRN: Laura Schwennesen</li>
                <li>WACY: Laura Schwennesen</li>
                <li>Head Start: Bob Henry</li>
                <li>Northfield Twp Parks and Recreation Board: Lee Cole</li>
                <li>DDA: Lisa McCully</li>
                <li>Local Chambers of Commerce: Lisa McCully</li>
            </ul>
        </div>
    </div>
</div>
