<% content_for :title, "Whitmore Lake Public Schools Facilities | Rentals & Community Use" %>
<% content_for :description, "Reserve Whitmore Lake Public Schools facilities for events, meetings, and performances. Learn about rental policies, available spaces, and booking details." %>

<div class="calendars district_calendar">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">Upcoming Events</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "calendar_links_bar" %>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h1 class="text-black">Middle & High School Calendar</h1>
            <% if @middle_and_high_school_calendar_pdfs.any? %>
                <% @middle_and_high_school_calendar_pdfs.each do |pdf_doc| %>
                    <% if pdf_doc.pdf.attached? %>
                        <button class="rule_btn py-3">
                            <%= link_to pdf_doc.title, rails_blob_path(pdf_doc.pdf, disposition: "inline", only_path: true), class:"text-white", target: "_blank", rel: "noopener" %>
                        </button>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="container mt-4">
            <iframe 
            src="https://calendar.google.com/calendar/u/0/htmlembed?src=p74rcdr2ofgr3kid5gj1q9i1p4@group.calendar.google.com&ctz=America/New_York" 
            style="border: 0"
            width="100%"
            height="700" 
            frameborder="0" 
            scrolling="no">
            </iframe>
        </div>
    </div>
</div>
