<% content_for :title, "Whitmore Lake Public Schools School Policy Notices - FERPA, Safety, Compliance" %>
<% content_for :description, "Stay informed about Whitmore Lake Public Schools' policies, including FERPA rights, safety procedures, student privacy, and compliance with state and federal laws." %>

<div class="school_policy_notices">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">News & Info</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "news_info_links_bar" %>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h1><span>Whitmore Lake Public Schools</span><span class="text-black"> chool Policy Notices</span></h1>
            <p>
                It's important for parents, students, and employees to stay aware of school policy notices at
                Whitmore Lake Public Schools. Understand these policies that satisfy notification requirements
                of State and/or Federal Law can help all members of WLPS participate in a safe and enjoyable
                journey through our educational system.
            </p>
            <p>
                Please review the following school policy notices at WLPS so that you're aware of what WLPS
                condones, rights afforded to individuals and WLPS, and other important information. For
                questions regarding all school policies, please contact your building's principal or
                Superintendent Tom DeKeyser at 734-449-4464 or by email at tom.dekeyser@wlps.net.
            </p>
            <h2 class="text-black">Rights Under FERPA</h2>
            <p>
                The federal law known as the Family Educational Rights and Privacy Act (FERPA) affords parents
                and students who are 18 years of age or older (“eligible students”) certain rights with respect to
                the student's education records. These rights are:
            </p>
            <ul style="list-style-type: decimal;">
                <li>
                    The right to inspect and review the student's education records within 30 days after the
                    day the School District receives a request for access. Parents or eligible students who
                    wish to inspect their education records should submit to the school principal a written
                    request that identifies the records they wish to inspect. The principal or designee will
                    make arrangements for access and notify the parent or eligible student of the time and
                    place where the records may be inspected.
                </li>
                <li>
                    The right to request the amendment of education records that the parent or eligible
                    student believes are inaccurate, misleading, or otherwise in violation of the student's
                    privacy rights under FERPA. Parents or eligible students who wish to ask the School
                    District to amend their child's or their education record should submit a written request
                    to the school principal, clearly identifying the part of the record they want changed and
                    specifying why they believe it should be changed. If the
                    School District decides not to amend the record as requested, the school will notify the
                    parent or eligible student of the decision and of their right to a hearing regarding the
                    request for amendment. <br>
                    Additional information regarding hearing procedures will be provided to the parent or
                    eligible student at the time they are notified of the right to a hearing.
                </li>
                <li>
                    The right to provide written consent before the School District discloses personally
                    identifiable information (PII) from the student's education records, except to the extent
                    that FERPA authorizes disclosure without consent. One exception, which permits
                    disclosure without consent, is disclosure to school officials with legitimate educational
                    interests. A designated school official with a legitimate educational interest includes a
                    person employed by the School District as an administrator, teacher, or other person
                    designated by the Board of Education. A school official also includes a liaison officer
                    who, while not employed by the School District, may be granted access to student
                    educational records (including video footage) at the direction and supervision of a
                    school administrator. A school official also may include a contractor or consultant who,
                    while not employed by the School District, performs an institutional service or function
                    (such as design and maintenance of the School District's security camera system) for
                    which the school would otherwise use its own employees and who is under the direct
                    control of the School District with respect to the use and maintenance of personally
                    identifiable information from student education records.
                </li>
                <li>
                    The right to refuse to allow the disclosure of “directory information.”
                </li>
                <li>
                    The right to file a complaint with the United States Department of Education concerning
                    alleged failures by the School District to comply with the requirements of FERPA. The
                    name and address of the Office that administers FERPA is:<br>
                    Student Privacy Policy Office<br>
                    U.S. Department of Education<br>
                    400 Maryland Avenue SW<br>
                    Washington DC 20202-5280
                </li>
            </ul>
            <p>
                “Directory information” regarding a student may be released to any requesting person or party,
                in addition to the eligible student or his/her parent, without written consent. The Board of
                Education has defined “directory information” to include a student's:
            </p>
            <ul>
                <li>Name;</li>
                <li>Address and telephone number;</li>
                <li>Photograph;</li>
                <li>Birth date and place of birth;</li>
                <li>Participation in School District related programs and extracurricular activities;</li>
                <li>Academic awards and honors;</li>
                <li>Height and weight, if a member of an athletic team;</li>
                <li>Honors and awards; and</li>
                <li>Dates of attendance and date of graduation.</li>
            </ul>
            <p>
                In the event inconsistency exists between the Board of Education policy defining “directory
                information” and this annual notification, the policy prevails.
            </p>
            <p>
                Each year, the Superintendent, or his/her designee, will provide public notice to students and
                parents of the School District's intent to make directory information available to students and parents.
            </p>
            <p>
                Eligible students and parents may refuse to allow the School District to disclose any or all of
                such directory information upon written notification to the School District within thirty (30)
                days after receipt of the School District's public notice. Parents may submit written notification
                to the building principal of their child's school.
            </p>
            <p>
                The School District will comply with a legitimate request for access to education records within
                a reasonable period of time, but not more than thirty (30) days after receiving the request or
                within a shorter period as may be applicable by law to students with disabilities. The requesting
                party may be charged a processing fee for the information.
            </p>
            <h2 class="text-black">Disclosure of Personal Information to the Military</h2>
            <p>
                The School District is required to provide United States Armed Forces recruiters with at least
                the same access to student directory information as is provided to other entities offering
                educational or employment opportunities to those students as is permitted and/or required by
                law. “Armed forces of the United States” means the armed forces of the United States and their
                reserve components and the United States Coast Guard. An eligible student or the parent may
                submit a signed, written direction to the School District that the student's directory information
                not be accessible to United States Armed Forces recruiters. In such case, the information will not be disclosed.
            </p>
            <h2 class="text-black">Other Agencies or Institutions</h2>
            <p>
                As permitted by FERPA, the School District may forward education records, including
                disciplinary records, without student or parental consent, to other agencies or institutions in
                which the student seeks or intends to enroll or is already enrolled so long as the disclosure is
                for purposes related to the student's enrollment or transfer and upon receipt of a request for a
                student's school or education records.
            </p>
            <h2 class="text-black">Notice of Asbestos in School Buildings</h2>
            <p>
                Each school building within the School District has been inspected for the presence of asbestos-containing
                materials as required by the Asbestos Hazard Emergency Response Act (AHERA). A copy of the Building Inspection 
                and Management Plan for each building is available in the building's main office. The plans may be inspected by members 
                of the public and by School District employees during normal business hours.
                A copy of the plan will be made available upon request for a nominal fee.
            </p>
            <h2 class="text-black">Pesticides</h2>
            <p>
                The Board of Education has adopted a policy to provide students and staff with an environment
                that is free of pests, pesticides, and harmful chemicals to the extent required by law. The
                Integrated Pest Management Program (IPM) includes routine inspections or surveys of all
                school facilities and various strategies to prevent pests from becoming a problem. Pesticides
                are used only as a last resort and parents will be notified prior to a pesticide application in a
                school building or on school grounds.
            </p>
            <h2 class="text-black">Drug-Free School</h2>
            <p>
                The Board of Education recognizes that the misuse of drugs is a serious problem with legal,
                physical, and social implications for the entire school community. In accordance with federal
                and state law, the Board establishes a “Drug-Free School Zone” that extends 1000 feet from the
                boundary of any school property.
            </p>
            <p>
                The Board prohibits the use, possession, concealment, delivery, or distribution of any drug or
                any drug-related paraphernalia, including alcohol and marijuana, at any time on School District
                property, within the Drug-Free Zone or at any School District-related event. Further, the
                Superintendent, or his/her designee, will take the necessary steps to ensure that an individual
                eighteen (18) years of age or older who knowingly delivers or distributes controlled substances
                so designated and prohibited by Michigan statute within the Drug-Free School Zone to another
                person is prosecuted to the fullest extent of the law.
            </p>
            <h2 class="text-black">Discrimination and Harassment</h2>
            <h2 class="text-black"></h2>
            <h2 class="text-black"></h2>
            <h2 class="text-black"></h2>
            <h2 class="text-black"></h2>
            <h2 class="text-black"></h2>
            <h2 class="text-black"></h2>
            <h2 class="text-black"></h2>
            <h2 class="text-black"></h2>
        </div>
    </div>
</div>
