<% content_for :title, "Whitmore Lake Public Schools School Policy Notices - FERPA, Safety, Compliance" %>
<% content_for :description, "Stay informed about Whitmore Lake Public Schools' policies, including FERPA rights, safety procedures, student privacy, and compliance with state and federal laws." %>

<div class="school_policy_notices">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">News & Info</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "news_info_links_bar" %>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h1><span>Whitmore Lake Public Schools</span><span class="text-black"> School Policy Notices</span></h1>
            <p>
                It's important for parents, students, and employees to stay aware of school policy notices at
                Whitmore Lake Public Schools. Understand these policies that satisfy notification requirements
                of State and/or Federal Law can help all members of WLPS participate in a safe and enjoyable
                journey through our educational system.
            </p>
            <p>
                Please review the following school policy notices at WLPS so that you're aware of what WLPS
                condones, rights afforded to individuals and WLPS, and other important information. For
                questions regarding all school policies, please contact your building's principal or
                Superintendent Tom DeKeyser at 734-449-4464 or by email at tom.dekeyser@wlps.net.
            </p>
            <h2 class="text-black">Rights Under FERPA</h2>
            <p>
                The federal law known as the Family Educational Rights and Privacy Act (FERPA) affords parents
                and students who are 18 years of age or older (“eligible students”) certain rights with respect to
                the student's education records. These rights are:
            </p>
            <ul style="list-style-type: decimal;">
                <li>
                    The right to inspect and review the student's education records within 30 days after the
                    day the School District receives a request for access. Parents or eligible students who
                    wish to inspect their education records should submit to the school principal a written
                    request that identifies the records they wish to inspect. The principal or designee will
                    make arrangements for access and notify the parent or eligible student of the time and
                    place where the records may be inspected.
                </li>
                <li>
                    The right to request the amendment of education records that the parent or eligible
                    student believes are inaccurate, misleading, or otherwise in violation of the student's
                    privacy rights under FERPA. Parents or eligible students who wish to ask the School
                    District to amend their child's or their education record should submit a written request
                    to the school principal, clearly identifying the part of the record they want changed and
                    specifying why they believe it should be changed. If the
                    School District decides not to amend the record as requested, the school will notify the
                    parent or eligible student of the decision and of their right to a hearing regarding the
                    request for amendment. <br>
                    Additional information regarding hearing procedures will be provided to the parent or
                    eligible student at the time they are notified of the right to a hearing.
                </li>
                <li>
                    The right to provide written consent before the School District discloses personally
                    identifiable information (PII) from the student's education records, except to the extent
                    that FERPA authorizes disclosure without consent. One exception, which permits
                    disclosure without consent, is disclosure to school officials with legitimate educational
                    interests. A designated school official with a legitimate educational interest includes a
                    person employed by the School District as an administrator, teacher, or other person
                    designated by the Board of Education. A school official also includes a liaison officer
                    who, while not employed by the School District, may be granted access to student
                    educational records (including video footage) at the direction and supervision of a
                    school administrator. A school official also may include a contractor or consultant who,
                    while not employed by the School District, performs an institutional service or function
                    (such as design and maintenance of the School District's security camera system) for
                    which the school would otherwise use its own employees and who is under the direct
                    control of the School District with respect to the use and maintenance of personally
                    identifiable information from student education records.
                </li>
                <li>
                    The right to refuse to allow the disclosure of “directory information.”
                </li>
                <li>
                    The right to file a complaint with the United States Department of Education concerning
                    alleged failures by the School District to comply with the requirements of FERPA. The
                    name and address of the Office that administers FERPA is:<br>
                    Student Privacy Policy Office<br>
                    U.S. Department of Education<br>
                    400 Maryland Avenue SW<br>
                    Washington DC 20202-5280
                </li>
            </ul>
            <p>
                “Directory information” regarding a student may be released to any requesting person or party,
                in addition to the eligible student or his/her parent, without written consent. The Board of
                Education has defined “directory information” to include a student's:
            </p>
            <ul>
                <li>Name;</li>
                <li>Address and telephone number;</li>
                <li>Photograph;</li>
                <li>Birth date and place of birth;</li>
                <li>Participation in School District related programs and extracurricular activities;</li>
                <li>Academic awards and honors;</li>
                <li>Height and weight, if a member of an athletic team;</li>
                <li>Honors and awards; and</li>
                <li>Dates of attendance and date of graduation.</li>
            </ul>
            <p>
                In the event inconsistency exists between the Board of Education policy defining “directory
                information” and this annual notification, the policy prevails.
            </p>
            <p>
                Each year, the Superintendent, or his/her designee, will provide public notice to students and
                parents of the School District's intent to make directory information available to students and parents.
            </p>
            <p>
                Eligible students and parents may refuse to allow the School District to disclose any or all of
                such directory information upon written notification to the School District within thirty (30)
                days after receipt of the School District's public notice. Parents may submit written notification
                to the building principal of their child's school.
            </p>
            <p>
                The School District will comply with a legitimate request for access to education records within
                a reasonable period of time, but not more than thirty (30) days after receiving the request or
                within a shorter period as may be applicable by law to students with disabilities. The requesting
                party may be charged a processing fee for the information.
            </p>
            <h2 class="text-black">Disclosure of Personal Information to the Military</h2>
            <p>
                The School District is required to provide United States Armed Forces recruiters with at least
                the same access to student directory information as is provided to other entities offering
                educational or employment opportunities to those students as is permitted and/or required by
                law. “Armed forces of the United States” means the armed forces of the United States and their
                reserve components and the United States Coast Guard. An eligible student or the parent may
                submit a signed, written direction to the School District that the student's directory information
                not be accessible to United States Armed Forces recruiters. In such case, the information will not be disclosed.
            </p>
            <h2 class="text-black">Other Agencies or Institutions</h2>
            <p>
                As permitted by FERPA, the School District may forward education records, including
                disciplinary records, without student or parental consent, to other agencies or institutions in
                which the student seeks or intends to enroll or is already enrolled so long as the disclosure is
                for purposes related to the student's enrollment or transfer and upon receipt of a request for a
                student's school or education records.
            </p>
            <h2 class="text-black">Notice of Asbestos in School Buildings</h2>
            <p>
                Each school building within the School District has been inspected for the presence of asbestos-containing
                materials as required by the Asbestos Hazard Emergency Response Act (AHERA). A copy of the Building Inspection 
                and Management Plan for each building is available in the building's main office. The plans may be inspected by members 
                of the public and by School District employees during normal business hours.
                A copy of the plan will be made available upon request for a nominal fee.
            </p>
            <h2 class="text-black">Pesticides</h2>
            <p>
                The Board of Education has adopted a policy to provide students and staff with an environment
                that is free of pests, pesticides, and harmful chemicals to the extent required by law. The
                Integrated Pest Management Program (IPM) includes routine inspections or surveys of all
                school facilities and various strategies to prevent pests from becoming a problem. Pesticides
                are used only as a last resort and parents will be notified prior to a pesticide application in a
                school building or on school grounds.
            </p>
            <h2 class="text-black">Drug-Free School</h2>
            <p>
                The Board of Education recognizes that the misuse of drugs is a serious problem with legal,
                physical, and social implications for the entire school community. In accordance with federal
                and state law, the Board establishes a “Drug-Free School Zone” that extends 1000 feet from the
                boundary of any school property.
            </p>
            <p>
                The Board prohibits the use, possession, concealment, delivery, or distribution of any drug or
                any drug-related paraphernalia, including alcohol and marijuana, at any time on School District
                property, within the Drug-Free Zone or at any School District-related event. Further, the
                Superintendent, or his/her designee, will take the necessary steps to ensure that an individual
                eighteen (18) years of age or older who knowingly delivers or distributes controlled substances
                so designated and prohibited by Michigan statute within the Drug-Free School Zone to another
                person is prosecuted to the fullest extent of the law.
            </p>
            <h2 class="text-black">Discrimination and Harassment</h2>
            <p>
                No person may be denied admission to any school in the School District, be denied the benefits
                of or be discriminated against in any curricular, extracurricular, or other School District program
                or activity based on the person's gender, religion, race, color, national origin or ancestry, age,
                disability, marital status, or any other legally protected characteristic. The Board of Education
                has adopted a Discrimination and Harassment Policy which prohibits all forms of illegal
                harassment and discrimination within the School District. Any person who believes that he/she
                has been the victim of discrimination may seek resolution of his/her complaint through the
                procedures that have been established by the School District. A person wishing to pursue a
                complaint may also contact the School District's Civil Rights Compliance Officer/Title IX
                Coordinator, Linda Lupi (linda.lupi@wlps.net 734.449.4461, or visit the Superintendent offices
                at 8845 Main Street, Whitmore Lake).
            </p>
            <h2 class="text-black">McKinney-Vento Homeless Assistance Act</h2>
            <p>
                The School District, in accordance with the McKinney-Vento Homeless Assistance Act, will
                ensure that homeless children and youth in transition have access to a free and appropriate
                public education, including preschool, and be given a full opportunity to participate in state and
                District-wide assessments and accountability systems. A student may be considered eligible for
                services if he/she is presently living:
            </p>
            <ul>
                <li>In temporary shared housing, a shelter, or transitional living program;</li>
                <li>In a hotel/motel, campground, or similar situation due to lack of alternatives;</li>
                <li>At a bus station, park, car, or abandoned building; or</li>
                <li>In a temporary or transitional foster care placement.</li>
            </ul>
            <p>
                The Board of Education has designated the McKinney-Vento Liaison Charlie Basham as the
                School District's Coordinator under the Homeless Assistance Act. For questions or assistance,
                please contact Charlie Basham at 734.449.2051 x 4001 or visit the Main Street Campus at 8845
                Main Street during regular business hours (8:30 a.m. - 4 p.m.).
            </p>
            <h2 class="text-black">Parental Inspection of Instructional Materials</h2>
            <p>
                Parents have the right to inspect, upon request, any instructional material used as part of the
                School District's educational curriculum. Parents will be provided access to instructional
                materials within a reasonable period of time after the request is received by the building
                principal. The term “instructional material” means instructional content that is provided to a
                student, regardless of its format, including printed and representational materials, audio-visual
                materials, and materials in electronic or digital formats (such as materials accessible through
                the Internet). The term does not include academic tests or assessments.
            </p>
            <h2 class="text-black">School Property</h2>
            <p>
                The Board acknowledges the need for a reasonable degree of in-school storage of student
                possessions and will provide storage places, including desks and lockers, for that purpose.
                Where lockers are provided, students may lock them against incursion by other students, but
                lockers remain School District property. Students do not have a reasonable expectation of
                privacy with respect to School District personnel or their designees in lockers or other in-school
                storage places provided by the School District.
            </p>
            <h2 class="text-black">Search and Seizure</h2>
            <p>
                The Board authorizes the use of canines trained in detecting the presence of drugs or devices.
                Canines are used to determine the presence of drugs in locker areas and other places where
                such substances may be concealed. Canine detection is usually conducted in collaboration with
                law enforcement authorities or other certified organizations and is not used to search individual
                students without legally sufficient suspicion, or unless a warrant or parental permission has
                been obtained.
            </p>
            <p>
                School authorities are authorized to take reasonable steps to safeguard the safety and well-being
                of the students by, among other things, implementing the School District's Student Code
                of Conduct. Within the discharge of their responsibilities, School District personnel may search
                students, student property, and school property in the manner permitted by law.
            </p>
            <h2 class="text-black">Special Education and Section 504</h2>
            <p>
                The School District is required, by law, to locate, identify and evaluate all children with
                disabilities, including children with disabilities attending private schools located within the
                School District, as well as homeless children. The process of locating, identifying, and evaluating
                children with disabilities is known as child find.
            </p>
            <p>
                Child find extends both to children who may be eligible for special education under the federal
                Individuals with Disabilities Education Act (IDEA) and those who may be eligible under Section
                504 of the Rehabilitation Act of 1973 (Section 504).<br>
                If you believe your child may qualify under either the IDEA or Section 504, please contact the
                District's Director of Student Services.
            </p>
            <h2 class="text-black">Personal Curriculum</h2>
            <p>
                The Personal Curriculum (PC) is a Michigan Department of Education (MDE) endorsed process,
                permitting modification of specific credit requirements and/or content expectations based on
                the individual learning needs of a student. It is designed to serve students who want to
                accelerate or go beyond the Michigan Merit Curriculum (MMC) requirements and students who
                need to individualize learning requirements to meet the MMC requirements. For more
                information from MDE about personal curriculums, please click here. To the extent required by
                law, the School District will grant all requests for personal curriculums.
            </p>
            <h2 class="text-black">Student Privacy & Parental Access to Information</h2>
            <p>
                Under the federal Protection of Pupil Rights Amendment (PPRA) and School District policy, no
                student will be required as a part of the school program or the School District's curriculum,
                without prior parental consent, to submit to or participate in any survey, analysis or evaluation
                that reveals information concerning:
            </p>
            <ul>
                <li>Political affiliations or beliefs of the student or his/her parents;</li>
                <li>Mental or psychological problems of the student or his/her family;</li>
                <li>Sexual behavior or attitudes;</li>
                <li>Illegal, anti-social, self-incriminating, or demeaning behavior;</li>
                <li>Critical appraisals of other individuals with whom students have close family relationships;</li>
                <li>Legally recognized privileged and analogous relationships, such as those of lawyers, physicians,</li>
                <li>and ministers;</li>
                <li>Religious practices, affiliations, or beliefs of the student or his/her parents; or</li>
                <li>ncome (other than that required by law to determine eligibility for participation in a program or for receiving financial assistance under such a program.)</li>
            </ul>
            <p>
                This requirement also applies to the collection, disclosure, or use of student information for
                marketing purposes (“marketing surveys”), and certain physical examinations and screenings.
                Parents have the right to inspect, upon request, a survey or evaluation created by a third party
                before the survey/evaluation is administered or distributed by the school to the student. The
                parent will be given access to the survey/evaluation within a reasonable period of time after
                the request is received by the building principal.
            </p>
            <p>
                Parents who believe their rights have been violated may file a complaint with:<br>
                Student Privacy Policy Office<br>
                U.S. Department of Education<br>
                400 Maryland Avenue SW<br>
                Washington, DC 20202
            </p>
            <h2 class="text-black">Title 1 Funds: Parent Involvement</h2>
            <p>
                Whitmore Lake Elementary School within Whitmore Lake Public Schools receive Title I funding.
                Whitmore Lake Elementary School within Whitmore Lake Public Schools receives Title I, 
                Part A - Improving Basic Instruction. funding. In accordance with law, the Board of Education has
                adopted a parent involvement policy (also known as a parental and family engagement policy).
                The School District is committed to establishing and maintaining positive relationships with
                families and the community. To that end, the School District will provide a variety of
                opportunities for families and other members of the community to become involved in children's education.
            </p>
            <p>
                Parents may request information regarding the professional qualifications of the student's
                classroom teachers in writing submitted to [person, department]. The request may include:
            </p>
            <ul>
                <li>Whether the teacher has met Michigan qualification and licensing criteria for the grade levels and subject areas in which s/he provides instruction;</li>
                <li>Whether the teacher is teaching under emergency or other provisional status through which State qualification or licensing criteria have been waived;</li>
                <li>The teacher's baccalaureate degree(s), major, any other graduate certification or degree(s) held, and the field of discipline of the certification or degree; and</li>
                <li>Whether the student is provided services by a paraprofessional and, if so, the paraprofessional's</li>
                <li>qualifications.</li>
            </ul>
            <h2 class="text-black">Programs for English Language Learner Students</h2>
            <p>
                Parents of limited English proficient (LEP) students participating in a language instruction
                program will be notified, no later than 30 days after the beginning of the school year, of the following:
            </p>
            <ul>
                <li>Placement and reason why their child was identified as LEP;</li>
                <li>The student's academic achievement level and level of English proficiency (including method of measurement);</li>
                <li>The methods used for language instruction;</li>
                <li>How the language program will meet the student's instructional needs;</li>
                <li>How the program will help the child to learn English and meet the academic standards required for promotion or graduation;</li>
                <li>The exit requirements for the language program; and</li>
                <li>An explanation of parental rights, including the parent's right to enroll or remove a child from the language instruction program</li>
            </ul>
            <h2 class="text-black">Right to Deny Use of Student's Image</h2>
            <p>
                WLPS recognizes the value of utilizing audio-visual and other types of electronic communication
                in providing an effective education for the students of Whitmore Lake. Unless otherwise
                notified, the district assumes the parent’s permission in the use of their child’s image, name,
                work product, school and grade for use in district-prepared printed materials, and in
                presentations that may be posted on the district website, social media, or cable channel. If you
                do not wish to grant the district this right, please email your building principal to notify her/him in writing.
            </p>
            <h2 class="text-black">Wellness Policy</h2>
            <p>
                The School District is committed to creating a school environment that enhances lifelong
                wellness practices. As required by law, the Board has adopted a Wellness Policy, which is
                periodically reviewed. 
                <a href="https://z2policy.ctspublish.com/luskalbertson/browse/whitmoreset/whitmore/z20000017/JD_2007" class="text-red" target="_blank">The Board's policies and/or administrative regulations can be found here.</a>
            </p>
            <h2 class="text-black">Physical Examinations and Screenings</h2>
            <p>
                In the absence of an emergency or an IEP or Section 504 plan, the School District does not
                provide physical examinations and screenings on school premises. In the event the School
                District does provide physical examinations and screenings, parents may opt-out their student
                from participation by sending the request, in writing, to their student's building principal.
            </p>
            <h2 class="text-black">USDA Non-Discrimination Statement</h2>
            <p>
                In accordance with Federal law and U.S. Department of Agriculture (USDA) civil rights
                regulations and policies, this institution is prohibited from discriminating on the basis of race,
                color, national origin, sex, age, disability, and reprisal or retaliation for prior civil rights activity.
                (Not all prohibited bases apply to all programs.)
            </p>
            <p>
                Persons with disabilities who require alternative means of communication for program
                information (e.g., Braille, large print, audiotape, American Sign Language, etc.) should contact
                the responsible State or local Agency that administers the program or USDA’s TARGET Center
                at <b>(202) 720-2600</b>(voice and TTY) or contact USDA through the Federal Relay Service at <b>(800)
                877-8339</b>. Additionally, program information is available in languages other than English.
            </p>
            <p>
                To file a complaint alleging discrimination, complete the 
                <a href="https://www.usda.gov/about-usda/policies-and-links/departmental-directives" class="text-red" target="_blank">USDA Program Discrimination Complaint Form</a>, <b>AD-3027</b>,
                found online at <a href="http://www.ascr.usda.gov/complaint_filing_cust.html" class="text-red" target="_blank">http://www.ascr.usda.gov/complaint_filing_cust.html</a>, or at any USDA office or
                write a letter addressed to USDA and provide in the letter all of the information requested in
                the form. To request a copy of the complaint form, call <b>(866) 632-9992</b>. Submit your completed form or letter to USDA by:
            </p>
            <p>
                <b>mail:</b><br>
                U.S. Department of Agriculture<br>
                Office of the Assistant Secretary for Civil Rights<br>
                1400 Independence Avenue, SW<br>
                Washington, D.C. 20250-9410
            </p>
            <p><b>fax:</b><br> (202) 690-7442; or</p>
            <p>email:<a href="mailto:program.intake@usda.gov" class="text-red">program.intake@usda.gov</a></p>
            <p>This institution is an equal opportunity provider.</p>
            <h3 class="text-black">FOIA Information</h3>
            <p class="mb-0"><a href="https://drive.google.com/file/d/0BxTLsDXL6R9ESnYzY19FQ1Vtb3M/view?usp=sharing" class="text-red" target="_blank">Written Summary</a></p>
            <p class="mb-0"><a href="https://drive.google.com/file/d/0BxTLsDXL6R9ENTluT3VaUHNmZXc/view?resourcekey=0-z_eB5HUm4bDZ1ejvfnF8mw" class="text-red" target="_blank">Procedures & Guidelines</a></p>
            <p class="mb-0"><a href="https://drive.google.com/file/d/0BxTLsDXL6R9EczhwaEtpd081OE0/view?resourcekey=0-vtb51lXpC-ru6oKan99INw" class="text-red" target="_blank">Standard Fee Itemization Form</a></p>
        </div>
    </div>
</div>
