<% content_for :title, "Whitmore Lake Public Schools School Policy Notices - FERPA, Safety, Compliance" %>
<% content_for :description, "Stay informed about Whitmore Lake Public Schools' policies, including FERPA rights, safety procedures, student privacy, and compliance with state and federal laws" %>

<div class="transparency_reporting">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">News & Info</h2>
    </div>
    <div class="red_button_bar primary-bg py-3">
        <%= render "news_info_links_bar" %>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h1><span>Whitmore Lake Public Schools</span><span class="text-black"> School Policy Notices</span></h1>
            <h2 class="text-black">Understanding WLPS School Policies & Legal Notices</h2>
            <p>
                Section 18 (2) of the Public Act 94 of 1979, The State School Aid Act, has been amended, which
                requires each school district and intermediate school district to post certain information on its
                website within 30 days after a board adopts it annual operating budget or any subsequent
                revision to that budget. The Annual Budget & Transparency Reporting is an opportunity to
                communicate with our community on how we utilize the resources that are provided to us.
            </p>
            <p>The following information is required to be posted on our website:</p>
            <ul style="list-style-type: decimal;">
                <li>The annual operating budget and subsequent budget revisions.</li>
                <li>
                    Using data that has already been collected and submitted to the Michigan Department of
                    Education (MDE), a summary of district expenditures for the most recent fiscal year for which
                    they are available, expressed in the following two (2) pie charts which were provided for the
                    general fund of the district by the Center for Educational Performance and Information (CEPI):
                    <ul style="list-style-type: none; counter-reset: alpha-counter; padding-left: 0;">
                        <li class="alpha-counter">
                            A chart of personnel expenditures broken down into the following subcategories:
                            <ul style="list-style-type: none; counter-reset: decimal-counter; padding-left: 0;">
                                <li class="decimal-counter">Salaries and Wages</li>
                                <li class="decimal-counter">Employee benefit costs, including, but not limited to, medical, dental, vision, life, disability, and long term care benefits</li>
                                <li class="decimal-counter">Retirement benefits costs</li>
                                <li class="decimal-counter">All other personnel costs</li>
                            </ul>
                        </li>
                        <li class="alpha-counter">
                            A chart of all district expenditures, broken into the following subcategories:
                            <ul style="list-style-type: none; counter-reset: alpha-counter; padding-left: 0;">
                                <li class="decimal-counter">Instruction</li>
                                <li class="decimal-counter">Support Services</li>
                                <li class="decimal-counter">Business and administration</li>
                                <li class="decimal-counter">Operations and Maintenance</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Links to all of the following:
                    <ul style="list-style-type: none; counter-reset: alpha-counter; padding-left: 0;">
                        <li class="alpha-counter">The current collective bargaining agreement for each bargaining unit</li>
                        <li class="alpha-counter">
                            Each health care benefit plan, including, but not limited to, medical, dental, vision, disability,
                            long-term care, or any other type of benefits that would constitute health care services, offered
                            to any bargaining unit or employee in the district
                        </li>
                        <li class="alpha-counter">The audit report of the audit conducted under subsection (4) for the most recent fiscal year for which it is available.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        
    </div>
</div>
