<% content_for :title, "2019 Community Recreation Millage - Whitmore Lake Public Schools" %>
<% content_for :description, "Support the 2019 Whitmore Lake Community Recreation Millage. Learn how the proposed increase to 1 mill will fund pool upgrades, improve facilities, and enhance access for all residents. Vote August 6, 2019." %>

<div class="wlcr_millage">
    <div class="page_heading p-20" style="background-image: url('/assets/bg_2.png');">
        <h2 class="text-center text-white mb-0">WLCR Millage</h2>
    </div>
    <div class="py-4_5">
        <div class="container">
            <h1 class="text-black text-center mb-0">The 2019 Whitmore Lake Community Recreation Millage Will Be on the Ballot for the August 6th, 2019 Election.</h1>
            <div class="bond_btns mt-4 mb-0">
                <a href="https://www.michigan.gov/sos/elections/voting/register-to-vote" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white w-240">Register to Vote</button>
                </a>
                <a href="https://www.michigan.gov/sos/elections/voting/absentee-voting" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white w-240">Absentee Information</button>
                </a>
                <a href="https://mvic.sos.state.mi.us/Voter/Index" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white w-240">Where Do I Vote?</button>
                </a>
                <a href="" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white w-240">View Ballot Proposal</button>
                </a>
                <a href="#" target="_blank">
                    <button class="rule_btn primary-bg py-3 text-white w-240">View Sample Ballot</button>
                </a>
            </div>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <div class="d-flex gap-4_5 align-items-center mobile-reverse">
                <div class="text_container flex-1">
                    <h2>The Need</h2>
                    <p class="mb-4">At Whitmore Lake Community Recreation, we provide residents of all ages in Whitmore Lake, and the surrounding areas, with affordable opportunities and places to get active, learn new skills, make new friends, and have fun</p>
                    <p class="mb-4">We strive to run our community programs at no loss. However, increased energy costs, aging facilities and equipment, and limited funding challenge our ability to exist, much less maintain or improve our facilities and expand program offerings. While our primary goal is to enhance the quality of life in Whitmore Lake, the lack of funding makes that very challenging. Currently, more than $160,000, 80% of the current millage is spent on utility and chemical costs for the pool alone.</p>
                    <p>We want to continue to make Whitmore Lake a wonderful place to live, work, and play, but we need additional resources to stay viable and to continue to improve how we serve our community. Because community recreation is a priority of the Board of Education, they have approved placing a change in the recreation millage on the August 6, 2019 ballot.</p>
                </div>
                <div class="image_container flex-1 text-center">
                    <div class="right_img">
                        <%= image_tag("millage_logo.png", alt: "WLCR Millage Logo", class: "origin w-md-full") %>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-4_5 align-items-center">
                <div class="image_container">
                    <div class="right_img">
                        <%= image_tag("needs.png", alt: "WLCR Millage Logo", class: "origin w-md-full") %>
                    </div>
                </div>
                <div class="text_container">
                    <h2 class="text-black">Help Keep Whitmore Lake Active</h2>
                    <p class="text-red mb-0">In the last year:</p>
                    <ul class="text-red mb-0">
                        <li><b>101</b><span class="color-normal"> children ages 4-18 competed on the WLCR Waves Swim and Dive Team</span></li>
                        <li><b>123</b><span class="color-normal"> swimmers ages 0-60 took swimming lessons through WLCR</span></li>
                        <li><b>340</b><span class="color-normal"> adults participated in a recreation activity</span></li>
                        <li><b>2,600</b><span class="color-normal"> open swim visits</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4_5" style="background-image: url('/assets/login_bg.png');">
        <div class="container">
            <h2 class="text-black">The Plan</h2>
            <p>Whitmore Lake Public Schools, as overseer of Whitmore Lake Community Recreation, is asking voters to change the levied amount from 0.5883 to 1 mill for 10 years. The total levied amount would equal, on average, $75 per year, or $6.25 per month ($1.00 on $1,000 of taxable value), for a homeowner with a house worth $150,000. This additional funding would allow Whitmore Lake Community Recreation to accomplish the following:</p>
            <p class="text-red fs-20 mb-0 fw-bold">Reduce Energy Use</p>
            <p>With the majority of the current millage being spent on utility and chemical costs for the community pool, reducing those costs is critical. If approved, the 1 mill will allow us to invest in a frequency drive on the pool pump and replacement pool covers to significantly reduce energy and chemical use.</p>
            <p class="text-red fs-20 mb-0 fw-bold">Increase Community Access & Use</p>
            <p>Our driving mission is to increase access to and improve the use of community rec facilities for Whitmore Lake community members. Projects to improve the experience at our community rec facilities include, but are not limited to:</p>
            <p class="fs-20 mb-0 fw-bold">Pool</p>
            <ul>
                <li>
                    <b>FREE</b> Open Swim for WL Community
                    <ul>
                        <li>
                            Upon approval of the recreation millage, starting in September 2019 all open swims will be FREE to any in-district residents. Standard open swim fees will apply to those out of the district.
                        </li>
                    </ul>
                </li>
                <li>Add bleachers in the pool for our growing swim team program</li>
            </ul>
            <p class="fs-20 mb-0 fw-bold">Jennings Athletic Complex & Park</p>
            <ul>
                <li>Lighted outdoor basketball courts</li>
                <li>Develop a maintenance schedule for park road</li>
                <li>Sound wall to limit noise from the expressway</li>
                <li>Timed gate to increase safety and security of the complex</li>
            </ul>
            <p class="fs-20 mb-0 fw-bold">Whitmore Lake High School & Elementary School</p>
            <ul>
                <li>Relocate and expand the WLHS weight room to allow it to be open for public use</li>
                <li>Repair tee-ball fields at WLES and add basketball courts</li>
            </ul>
            <h2 class="text-black">Repair & Maintain Facilities</h2>
            <p>More than $55,000 has been spent on pool repairs in the past 3 years. When repair costs exceed the recreation budget, they must be paid for by sinking fund dollars which takes resources away from important sinking fund objectives that are critical to our school district.</p>
            <p>As our facilities continue to age, rather than just operating and getting by, the 1 mill will enable us to establish a replacement plan to repair and maintain our facilities properly, without the risk of having to use district resources that are much better used in the classrooms.</p>
            <p>Within the first 1-3 years, we will aim to address the following areas of high need:</p>
            <p class="fs-20 mb-0 fw-bold">Pool</p>
            <ul>
                <li>
                    Replacements for rooftop dehumidifier units
                    <ul>
                        <li>Each unit is $250,000</li>
                    </ul>
                </li>
                <li>Multi-purpose room wall and floor repairs</li>
                <li>Pool/Athletic entrance elevator repairs</li>
                <li>Tile repairs</li>
                <li>Pool water draining and replacement</li>
            </ul>
            <p class="fs-20 mb-0 fw-bold">Jennings Athletic Complex & Park</p>
            <ul>
                <li>Walking track renovation</li>
                <li>Jennings Football Field filming tower renovation and repair</li>
                <li>Baseball and softball field bench replacement</li>
                <li>Baseball and softball field fencing repair and replacement</li>
            </ul>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container">
            <div class="d-flex gap-4_5 mobile-reverse align-items-center">
                <div class="text_container flex-1">
                    <h2 class="text-black">What's Next?</h2>
                    <ul>
                        <li>
                            Tune into a Facebook LIVE Q&A with Superintendent, Tom DeKeyser, and Community Relations<br>
                            and Recreation Director, Maria Carter-Ewald.<br>
                            <a href="https://www.facebook.com/WhitmoreLakePublicSchools" class="text-red text-decoration-underline" target="_blank">Watch our Facebook page for date and time!</a>
                        </li>
                        <li><b>Community Pool Party:</b><br>Come swim for FREE and learn more Saturday, July 20, 2pm-4pm</li>
                    </ul>
                </div>
                <div class="image_container flex-1 text-center">
                    <div class="right_img">
                        <%= image_tag("wlcr_millage_logo.png", alt: "WLCR Millage Logo", class: "origin w-md-full") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4_5 primary-bg">
        <div class="container-sm">
            <h1 class="text-white text-center">#TrojanPride</h2>
            <p class="text-white fs-20 text-center">Every day is a great day to be a Trojan. With the support of our community, staff, students, and parents we are confident that will not change in the years to come.</p>
        </div>
    </div>
    <div class="py-4_5">
        <div class="container-sm">
            <h2 class="text-black text-center">For Questions, Contact Us!</h2>
            <%= render 'contacts/form' %>
        </div>
    </div>
</div>
