@import "bootstrap";
@import "active_admin/mixins";
@import "active_admin/base";

.active_admin #header, .active_admin #title_bar, .active_admin #footer, .admin_dashboard .custom-select-wrapper {
    display: none;
}
#index_footer  {
    display: none;
}
#active_admin_content #main_content_wrapper {
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
}
#active_admin_content #main_content_wrapper {
    float: initial;
}
#active_admin_content thead th {
    background: #D32128;
}
#active_admin_content table {
    font-size: 14px;
}
.w-4p {
    width: 40%;
}
.w-3p {
    width: 30%;
}
.w-2p {
    width: 20%;
}
.admin_tools_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.tool-btn {
    background: #D32128;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 1em;
    font-weight: bold;
    margin-bottom: 0;
}