@import "bootstrap";

#new_admin_user {
    width: 500px;
}
.login-left {
    width: 40%;
}
.login-right {
    width: 60%;
    background-size: cover;
    background-position: center;
}
.admin-login-form {
    margin-top: 150px;
}

.hero-section .slide {
    width: 60%;
}
//Icons
.icons_wrapper .icon img {
    width: 50px;
}

//Events
.events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.event_title, .fs-18 {
    font-size: 18px;
}
.event_item {
    background: #f3f3f3;
}

//Tabs
.tab_container {
    display: flex;
    align-items: center;
}
.tab_container .left_img {
    width: 65%;
}
.tab_container .right_para {
    width: 40%;
    margin-left: -5%;
    background: #3e3e3e;
}
.three-tabs .nav-tabs .nav-link.active {
    background: transparent;
    border: none;
    border-bottom: solid 3px #D32128;
}
.three-tabs .nav-tabs .nav-link, .three-tabs .nav-tabs .nav-link:hover {
    background: transparent;
    border: none;
    border-bottom: solid 3px #c4c4c4;
}
.three-tabs .nav-tabs .nav-item {
    flex: 1;
}

//Boxes
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
.box img {
    width: 50%;
}

//Videos
.video-container {
    flex: 1;
}

//Images
.shadow_img {
    box-shadow: 0px 32px 44px rgba(0,0,0,0.5);
}

// Download
.border-b-2 {
    border-bottom: 2px solid #3E3E3E;
}

//Facilities
.link_btn {
    width: 170px;
    background: #b31c23;
    border-radius: 8px;
    border: none;
    white-space: nowrap;
    font-family: 'Helvetica Neue', sans-serif;
}
.rule_btn {
    width: 270px;
    background: #b31c23;
    border-radius: 0;
    border: none;
    white-space: nowrap;
    font-family: 'Helvetica Neue', sans-serif;
}
.rule_btn_2 {
    width: 300px;
    height: 52px;
    display: flex;
    background: #b31c23;
    border-radius: 0;
    border: none;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
}
.calendar_btn {
    width: 170px;
    height: 66px;
    display: flex;
    background: #b31c23;
    border-radius: 8px;
    border: none;
    justify-content: center;
    align-items: center;
}
//Special Education
.w-370 {
    width: 370px;
}
// Academics
.offer_courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
//Athletics
.fixed_img {
    position: absolute;
    width: 100%;
    text-align: center;
}
.atheletics.py-4_5 {
    padding-bottom: 100px;
}
.py-4_5.sports {
    padding-top: 100px;
}
//Drills
.hide {
    display: none;
}
.show {
    display: block;
}
.lockdown {
    background: #f3f3f3;
}
//Peachjar
.trees {
    padding-left: 70px;
    background-image: url('/assets/trees.png');
    background-size: 100% 100%;
}
//Policy
.alpha-counter {
    counter-increment: alpha-counter;
    position: relative;
    padding-left: 2em;
}
.alpha-counter::before {
    content: "(" counter(alpha-counter, lower-alpha) ") ";
    position: absolute;
    left: 0;
}
.decimal-counter {
    counter-increment: decimal-counter;
    position: relative;
    padding-left: 2em;
}
.decimal-counter::before {
    content: "(" counter(decimal-counter, decimal) ") ";
    position: absolute;
    left: 0;
}
//Financial Transparency
.financial_transparency {
    position: relative;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.safety {
    position: absolute;
    top: -1%;
    left: 0;
}
.facility {
    position: absolute;
    right: -3%;
    top: 25%;
}
.technology {
    position: absolute;
    bottom: 0;
    left: 8%;
}
//Responsive styles
@media screen and (max-width: 768px) {
    .admin_login {
        flex-direction: column;
        padding: 0 10px;
    }
    .login-left {
        order: 2;
        height: 300px;
    }
    .login-right {
        order: 1;
        padding-bottom: 30px;
    }
    #new_admin_user, .login-left, .login-right {
        width: 100%;
    }
    .admin-login-form {
        margin-top: 30px;
    }
    .admin-login-logo {
        text-align: center;
    }
    .offer_courses {
        display: block;
    }
    .atheletics.py-4_5 {
        padding-bottom: 70px;
    }
    .right_img.mb-5 {
        margin-bottom: 1rem !important;
    }
    .d-flex {
        flex-direction: column;
    }
    #accordion .d-flex {
        flex-direction: initial;
    }
    .rule_btn, .calendar_btn {
        width: 100%;
    }
    .calendar_links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .calendar_btn {
        height: 74px;
    }
    .calendars iframe {
        height: 400px;
    }
    .mobile_drill_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .trees {
        background-image: url('/assets/tree_mobile.png');
        padding-left: 0;
        padding-bottom: 160px !important;
        text-align: center;
    }
}