@import "bootstrap";

#new_admin_user {
    width: 500px;
}
.login-left {
    width: 40%;
}
.login-right {
    width: 60%;
    background-size: cover;
    background-position: center;
}
.admin-login-form {
    margin-top: 150px;
}