@font-face {
  font-family: 'Bitter';
  src: url('/assets/Bitter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BitterBold';
  src: url('/assets/Bitter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/HelveticaNeueMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaLight';
  src: url('/assets/HelveticaNeueLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AcuminProBold';
  src: url('/assets/Acumin-BdItPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('/assets/Acumin-RPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-size: 16px;
    color: #3e3e3e;
    background: #fff;
    font-family: "OpenSans", sans-serif;
}
.container-sm {
    max-width: 975px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    margin-bottom: 1rem;
    font-family: "BitterBold", sans-serif;
    color: #D32128;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
.ff-ap {
    font-family: "AcuminPro", sans-serif;
}
.ff-apb {
    font-family: "AcuminProBold", sans-serif;
}
.ff-bb {
    font-family: "BitterBold", sans-serif;
}
.ff-b {
    font-family: "Bitter", sans-serif;
}
.ff-h {
    font-family: 'Helvetica Neue', sans-serif;
}
.ff-hl {
    font-family: 'HelveticaLight', sans-serif;
}
.ff-op {
    font-family: "OpenSans", sans-serif !important;
}
.pb-lg {
    padding-bottom: 128px;;
}
.w-4p {
    width: 40%;
}
.w-3p {
    width: 30%;
}
.w-2p {
    width: 20%;
}
.mt-lg-m {
    margin-top: -80px;
}
p {
    margin-bottom: 1rem;
    color: #3e3e3e;
}
.color-normal {
    color: #3e3e3e;
}
.fs-34 {
    font-size: 34px;
}
.fs-22 {
    font-size: 22px;
}
.fs-20 {
    font-size: 20px;
}
.fs-14 {
    font-size: 14px;
}
.lh-1_8 {
    line-height: 1.8;
}
.p-20 {
    padding: 20px;
}
.py-4_5 {
    padding-top: 36px;
    padding-bottom: 36px;
}
.gap-4_5 {
    gap: 32px;
}
.primary-bg {
    background: #D32128;
    text-shadow: none;
}
.white-bg {
    background: #ffffff;
    text-shadow: none;
}
.second-bg {
    background: #3e3e3e;
}
.btn_normal {
    background: #D32128;
    color: #ffffff;
    border-radius: 0;
    padding: 1em 3em;
    text-shadow: none;
    font-family: 'Helvetica Neue', sans-serif;
    border: none;
}
.primary-btn {
    background: #D32128 !important;
    color: #fff !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 1em 5em !important;
    margin-bottom: 1rem;
    text-shadow: none !important;
    letter-spacing: 1px;
    line-height: 1.25 !important;
    font-family: 'Helvetica Neue', sans-serif;
}
.grey-button {
    background: #979797;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 1em;
    line-height: 1.25 !important;    
    font-family: 'Helvetica Neue', sans-serif;
}
.tool-btn:hover {
    background: #3e3e3e !important;
}
.w-200 {
    width: 200px;
}
.min-5 {
    min-width: 5rem;
}
.min-8 {
    min-width: 8rem;
}
.btn-white {
    background: transparent;
    color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
    padding: 1em 5em;
    font-family: 'Helvetica Neue', sans-serif;
}
.top_header {
    background: #e9e9e9;
}
.logo_wrapper {
    padding-left: 120px;
}
.container-navbar {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.text-red {
    color: #D32128 !important;
}
a {
    text-decoration: none;
}
.top_header img {
    width: 24px;
}
.top_header .logo img, .logo img {
    width: 100px;
}
img {
    width: 100%;
}
img.origin {
    width: initial;
    height: initial;
}
.card-header {
    background: #3e3e3e;
}
.text-white a, .primary-btn a, .tool-btn a {
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 1px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.flex-1 {
    flex: 1;
}
.grey_card {
  height: 167px;
  border-radius: 10px;
  background: #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.grey_card_2 {
    height: 202px;
    border-radius: 10px;
    background: #d8d8d8;
    padding: 20px;
}
.grey_card_row {
  height: 167px;
  min-width: 370px;
  border-radius: 10px;
  background: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.desktop_only {
    display: block;
}
.mobile_only {
    display: none;
}
@media screen and (max-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .gap-4_5 {
        gap: 16px;
    }
    .fixed_img img.origin, .add_funds .origin, img.origin.w-md-full, .w-370, .w-4p, .w-3p, .w-2p {
        width: 100%;
    }
    .d-flex.align-items-center {
        align-items: initial !important;
    }
    .desktop_only {
        display: none;
    }
    .mobile_only {
        display: block;
    }
    .mobile-reverse .text_container, .mob-order-2 {
        order: 2;
    }
    .mobile-reverse .image_container, .mob-order-1 {
        order: 1;
    }
    .grey_card_row {
        min-width: 100%;
    }
}