<div>
  <h2>WLPS Newsletter Management</h2>
  <p>Use the sections below to update the newsletter URL for each school as needed. Once saved, the button on the corresponding webpage will update with the new URL.</p>
</div>
<%
  custom_labels = {
    ecc_url: "ECC Newsletter",
    gltw_url: "GLTW Newsletter",
    wles_url: "WLES Newsletter",
    wlms_hs_url: "WLMS/HS Newsletter",
    district_url: "District Newsletter"
  }
%>

<% custom_labels.each do |field, label| %>
  <%= form_with model: setting, url: admin_newsletter_urls_update_path(field: field), method: :post, local: true do |f| %>
    <div class="mb-3">
      <%= f.label field, label, class: "me-2 fw-bold" %>
      <%= f.text_field field, class: "form-control", value: setting.send(field), style: "width: 100%;" %>
      <%= f.submit "Save", class: "primary-btn mt-3", style: "background-color: #D32128; background-image: none; border-radius: 0; border: none; padding: 1em 5em;" %>
    </div>
  <% end %>
<% end %>
